# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.kdev4/
*.kdev4
build/
Debug/
Release/

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
lib/win32/*.lib
*.sbr
*.sdf
*.sdf
*.opensdf
*.pdb
*.idb
*.res
*.unsuccessfulbuild
*.lastbuildstate
*.tlog
*.intermediate
product/win32/*.dll
*.exp
*.exe
*.manifest
ipch/
obj/
*.resfiles
[Bb]in
Binaries/
VS11.winrt/
!*.vcxproj.*
